@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: rgba(250, 245, 243, 0.711);
    height: auto;
    position: sticky;
    top: 0;
    z-index: 200;
}

.item{
    font-size: 18px;
}

.main{
    height: auto;
}

.contenedorTitulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.tituloPag{
    color: rgb(178, 135, 118);
    font-size: 28px;
}

.subtituloPag{
    font-size: 18px;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 5rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 32rem;
}

.brillo{
    filter: brightness(80%);
    filter: opacity(80%);
}

.cover{
    object-fit: cover;
}

.contenedorFraseIndex{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.fraseIndex{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
}

.parrafoDos{
    color: rgb(178, 135, 118);
    font-weight:bolder
}

.tarjetas{
    margin-bottom: 10vh;
}

.card{
    background-color: rgb(250, 245, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.card-img-top{
    filter: brightness(85%);
    filter: opacity(95%);
}

.card-title{
    color: rgb(178, 135, 118);
}

.imagenBeneficios{
    background-image: url(../assets/img/imagenbeneficios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(85%);
    filter: opacity(95%);
    height: 50vh;
}

.textoBeneficios{
    height: 40vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.textoBeneficios p{
    height: 100%;
}

.texto{
    font-size: 16px;
}

.imagenSobreMi{
    background-image: url(../assets/img/imagensobremi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(85%);
    filter: opacity(95%);
    height: 60vh;
}

.footer{
    background-color: rgb(250, 245, 243);
    background-color: rgb(226, 210, 203);
    height: 40vh;
    text-align: center;
}

.footer p{
    font-size: 1rem;
    padding-top: 50px;
}

.footer__linkRedes{
    text-decoration: none;
    padding-left: 25px;
}

.footer__wppFixed{
    text-decoration: none;
}

.icon{
    color: white;
    font-size: 3rem;
    margin-top: 40px;
}

.iconFixed{
    color: rgb(178, 135, 118);
    font-size: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

span{
    color: rgb(178, 135, 118);
}

@media screen and (min-width:0px) and (max-width:768px){
    .parrafoDos{
        font-size: 12px;
    }
    .parrafoUno{
        font-size: 12px;
    }
    .fraseIndex{
        width: 95%;
    }
    .tituloPag{
        font-size: 24px;
    }
    
    .subtituloPag{
        font-size: 14px;
    }
    .texto{
        font-size: 12px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .parrafoDos{
        font-size: 14px;
    }
    .parrafoUno{
        font-size: 14px;
    }
    .fraseIndex{
        width: 80%;
    }
    .tituloPag{
        font-size: 24px;
    }
    
    .subtituloPag{
        font-size: 16px;
    }
    .titulo{
        font-size: 14px;
    }
}