.footer{
    background-color: rgb(226, 210, 203);
    height: auto;
    text-align: center;
    margin-top: 18vh;
    .footer__p{
        font-size: 1rem;
        padding-top: 50px;
    }
    .footer__div{
        .footer__div__linkRedes{
            text-decoration: none;
        }
        .icon{
            color: white;
            font-size: 3rem;
            margin-top: 40px;
        }
    }

    .footer__wppFixed{
        text-decoration: none;
    }
    .iconFixed{
        color: $color-principal;
        font-size: 3rem;
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .listaFooter{
        list-style: none;
        .itemFooter{
            text-decoration: none;
            .linkFooter{
                text-decoration: none;
                color: rgb(64, 57, 57);
                &:hover{
                    color: $color-principal;
                }
            }
        }
    }
}




