    .mainBeneficios{
        padding-top: 10vh;
        padding-bottom: 2vh;
        .contenedorTitulo{
            @include flexbox (center, center, column);
            .tituloPag{
                animation-name: aparecer;
                animation-duration: 1s;
                color: $color-principal;
                font-size: map-get($map: $sizes, $key:titulo)
            }
            .subtituloPag{
                animation-name: aparecer;
                animation-duration: 1s;
                color: $color-letranegra;
                font-size: map-get($map: $sizes, $key:subtitulo)
            }
        }
        .contenedorAnimaciones{
            overflow: hidden;
            .imagenBeneficios{
                filter: brightness(85%);
                filter: opacity(95%);
                height: 65vh;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .textoBeneficios{
                height: 50vh;
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                .texto{
                    font-size: map-get($map: $sizes, $key:texto);
                    color: $color-letranegra;
                }
            }
        }
        .seccionBeneficios{
            margin-top: 7rem;
            .seccionBeneficios__contenedorfrase__frase{
                font-size: map-get($map: $sizes, $key:subtitulo);
                color: $color-letranegra
            }
            img{
                width: 280px;
            }
        }
        
    }

@media screen and (min-width:0px) and (max-width:768px){
    body{
        .mainBeneficios{
            .row{
                .contenedorTitulo{
                    .subtituloPag{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
                .textoBeneficios{
                    .texto{
                        font-size: map-get($map: $sizes, $key:textomaschico);
                    }
                }
            }
            .seccionBeneficios{
                margin-top: 1rem;
                .seccionBeneficios__contenedorfrase{
                    .seccionBeneficios__contenedorfrase__frase{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    body{
        .mainBeneficios{
            .row{
                .contenedorTitulo{
                    .subtituloPag{
                        font-size: map-get($map: $sizes, $key:texto);
                    }
                }
                .textoBeneficios{
                    .texto{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
            }
            .seccionBeneficios{
                margin-top: 1rem;
                .seccionBeneficios__contenedorfrase{
                    .seccionBeneficios__contenedorfrase__frase{
                        font-size: map-get($map: $sizes, $key:texto);
                    }
                }
                .seccionBeneficiosImagenes{
                    img{
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1025px) and (max-width:1199px){
    body{
        .mainBeneficios{
            .row{
                .contenedorTitulo{
                    .subtituloPag{
                        font-size: map-get($map: $sizes, $key:subtitulo);
                    }
                }
                .textoBeneficios{
                    .texto{
                        font-size: map-get($map: $sizes, $key:texto);
                    }
                }
            }
            .seccionBeneficios{
                margin-top: 1.5rem;
                .seccionBeneficios__contenedorfrase{
                    .seccionBeneficios__contenedorfrase__frase{
                        font-size: map-get($map: $sizes, $key:subtitulo);
                    }
                }
            }
        }
    }
}


