    .mainBeneficios{
        padding-top: 10vh;
        padding-bottom: 2vh;
        .contenedorTitulo{
            @include flexbox (center, center, column);
            .tituloPag{
                animation-name: aparecer;
                animation-duration: 1s;
                color: $color-principal;
                font-size: map-get($map: $sizes, $key:titulo)
            }
            .subtituloPag{
                animation-name: aparecer;
                animation-duration: 1s;
                font-size: map-get($map: $sizes, $key:texto)
            }
        }
        .contenedorAnimaciones{
            overflow: hidden;
            .imagenBeneficios{
                background-image: url(../assets/img/imagenbeneficios.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: brightness(85%);
                filter: opacity(95%);
                height: 60vh;
            }
            .textoBeneficios{
                height: 50vh;
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                .texto{
                    font-size: map-get($map: $sizes, $key:texto);
                }
            }
        }
    }

@media screen and (min-width:0px) and (max-width:768px){
    body{
        .mainBeneficios{
            .row{
                .contenedorTitulo{
                    .subtituloPag{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
                .textoBeneficios{
                    .texto{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    body{
        .mainBeneficios{
            .row{
                .contenedorTitulo{
                    .subtituloPag{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
                .textoBeneficios{
                    .texto{
                        font-size: map-get($map: $sizes, $key:textochico);
                    }
                }
            }
        }
    }
}
