$fuente-principal: 'Assistant', sans-serif;
$color-principal: rgb(178, 135, 118);
$color-secundario: rgb(226, 210, 203);
$color-header: rgb(250, 245, 243);

$sizes:(
    titulo: 24px,
    subtitulo: 18px,
    texto :16px,
);

$fuentes:(
    thin:100,
    light:300,
    regular:400,
);