$fuente-principal: 'Assistant', sans-serif;
$color-principal: rgb(178, 135, 118);
$color-secundario: rgb(226, 210, 203);
$color-clarito: rgb(250, 245, 243);
$color-cuatro: rgb(204, 175, 164);
$fuente-negrita: bold;
$color-letranegra :rgb(88, 88, 88);

$sizes:(
    titulogrande: 28px,
    titulo: 24px,
    subtitulo: 20px,
    texto: 18px,
    textochico :16px,
    textomaschico:14px,
);

$fuentes:(
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);